/* ===== Home Form Styles ===== */

html {
  --color-accent: oklch(35% 15% 20);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 1200px;
    margin-inline: auto;
    padding: 20px;
}

nav ul, 
nav li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 2rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  height: 100%; 
}

nav a.current {
  border-bottom: 0.4em solid oklch(75% 3% 200);
  padding-bottom: 10px;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 10px;
}

/* ===== Contact Form Styles ===== */
form {
  display: grid;
  gap: 1em;
}

form label {
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1;
}